.profile {
    background-color: white ;
    border-radius: 6px !important;
    width: 100% !important;
    display: inline-block !important;
}

.profile_name {
    line-height: 18px !important;
    padding: 20px !important;
}

.profile_name .name {
    text-transform: uppercase !important;
    font-size: 17px !important;
    font-weight: bold !important;
}

.profile_name .title {
    font-size: 13px !important;
    color:#777777 !important;
}

.profile_img {
    margin-top: -10px;
    -webkit-clip-path: polygon(0 9%, 100% 0, 100% 94%, 0% 100%) !important;
    clip-path: polygon(0 9%, 100% 0, 100% 94%, 0% 100%) !important;
}

.profile_img img {
    width: 100% !important;
}

/* Profile Information */
.profile_information {
    top: 0 !important;
    left: 0 !important;
    margin: -40px 10px 30px !important;
}

.profile_information .timeline .timeline_content {
    margin-top: 2px !important;
    margin-bottom: 12x !important;
}

.timelineItem_text {
    font-size: 13.5px !important;
    color: #777777 !important;
    font-weight: 400 !important;
}

.timelineItem_text > a {
    
    color: #777777 !important;
    font-weight: 400 !important;
    text-decoration:none !important;
}

.timelineItem_text > span {
    font-size: 13.5px !important;
    color: black !important;
    font-weight: 400 !important;
}

.profile .button_container {
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
    margin-top: 10px !important;
    text-decoration: none;
}